In [ ]:
import pandas as pd
print("This is PANDAS topic");

:

In [6]:
import pandas as pd
data=[2,5,2,1,8,4];
result=pd.Series(data);
print(result);

AttributeError: module 'pandas' has no attribute 'Series'

In [ ]:
# Series with mixed data types
mixed_data = [10, 'hello', 3.14, True]
series5 = pd.Series(mixed_data)

print(series5)

In [ ]:
# Series with custom index
data = [7, 14, 21]
index = ['one', 'two', 'three']
series4 = pd.Series(data, index=index)

print(series4)

In [ ]:
# Create two Series
series_a = pd.Series([10, 20, 30], index=['x', 'y', 'z'])
series_b = pd.Series([5, 15, 25], index=['a', 'b', 'c'])

print("Series A:")
print(series_a)

print("\nSeries B:")
print(series_b)

In [ ]:
import pandas as pd

data={ 'Name': ['Krish', 'John', 'Jack'], 'Age': [25,30,45], 'City': ['Bangalore', 'New York', 'Florida'] }
result=pd.Series(data)
print(result)
result2=pd.DataFrame(data)
print(result2)

In [ ]:
import pandas as pd
import numpy as np
data={ 'Name': ['Krish', 'John', 'Jack'], 'Age': [25,30,45], 'City': ['Bangalore', 'New York', 'Florida'] }
result=pd.Series(data)
print(result)
result2=pd.DataFrame(data)
print(result2)
arr=np.array(result2)
print(arr[2:]);
print(type(arr))
print(arr.shape)

In [1]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in d:\udemydataanalyst\udemypython\venv\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\udemydataanalyst\udemypython\venv\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\udemydataanalyst\udemypython\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas as pd;
employees = [
     {"name": "Alice", "id": 101, "age": 25, "salary": 50000},
     {"name": "Bob", "id": 102, "age": 30, "salary": 60000},
     {"name": "Charlie", "id": 103, "age": 28, "salary": 55000},
     {"name": "David", "id": 104, "age": 35, "salary": 70000},
     {"name": "Eve", "id": 105, "age": 26, "salary": 52000},
     {"name": "Frank", "id": 106, "age": 29, "salary": 58000},
     {"name": "Grace", "id": 107, "age": 27, "salary": 54000},
     {"name": "Hannah", "id": 108, "age": 32, "salary": 65000},
     {"name": "Ian", "id": 109, "age": 31, "salary": 62000},
     {"name": "Jack", "id": 110, "age": 34, "salary": 68000},
    ]
df=pd.DataFrame(employees)
print(df)
print(df.loc[6,'age'])
print(df.iloc[1][1])
print(df.at[1,'name'])
print(df.at[6,'salary'])

hi

AttributeError: partially initialized module 'pandas' has no attribute 'Series' (most likely due to a circular import)

In [4]:
import pandas as pd
people={
    'name':['rajender','soumya','sruthi','yash'],
    'age':[43,42,23,21]
    
}
dataf=pd.DataFrame(people);
print(dataf);

hi

AttributeError: partially initialized module 'pandas' has no attribute 'Series' (most likely due to a circular import)

In [5]:
import pandas as pd
people={
    'name':['rajender','soumya','sruthi','yash'],
    'age':[43,42,23,21]
    
}
dataf=pd.DataFrame(people);
print(dataf);

hi

AttributeError: partially initialized module 'pandas' has no attribute 'Series' (most likely due to a circular import)